/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}


body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #FFA500 ;
  background: #ccc;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;

}
section {
  float: left;
  padding: 20px;
  width: 33.3%;
  background-color: #125412;
}

#left {
  
    
    background: #30948D ;
    color: black;
    
}

#middle {
  
  
  background: #9E1212 ;
  color: black;
 
}

#right {
  background: #30948D ;
  color: black;
}

#full {
  width: 100%;
  color: #fff;
  background-color: #39549;
  Margin: 10px;
}

#division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
}

aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid #000000;
    background: #ffffff;
    color: #000;
}

footer {
  clear: both;
  background-color: #ffa500;
  color: navajowhite;
  padding: 20px;
  margin-top: 20px;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}